{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header__inner">
                <a href="{% url 'main' %}">
                    Main
                </a>
                <a href="{% url 'cartpage' %}">
                    назат
                </a><a href="{% url 'info' %}">
                    чек
                </a>    
            </div>
        </div>
    </header>
    <div class="container">
        <div class="form">
            <form action="{% url 'order' %}" method="POST">
                {% csrf_token %}
                <h1>Оформить заказ</h1>
                <input name="address" placeholder="Type your address....." type="text">
                <input name="phone_number" placeholder="Type your phone number....." type="text">
                <textarea name="message" placeholder="Type your message....." type="text"></textarea>
                <button type="submit">Офформить</button>
            </form>
        </div>
    </div>
</body>
</html>